.img-banner img{
    width: 100%;
    height: 400px;
}
.full-league-detail{
    background-color: #006B38FF;
    
}
.small-img img{
    width: 100%;
    height: 300px;
}
.card-style{
    background-color: #C7C7C7;
    padding: 30px;
    margin: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.text-area{
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}
.footer{
    text-align: center;
    font-size: 50px;
    color: white;
    padding-bottom: 50px;

}
.footer a{
    margin: 10px;
    padding: 5px;
    color: blanchedalmond;
    
}