.banner-style{
    position: relative;
    text-align: center;

}
.banner-style img{
    width: 100%;
    height: 400px;
}
.royal-league{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: wheat;
}
.logoImg-style{
    width: 300px !important;
    height: 200px !important;
    padding: 20px;
    background-color: rgba(94, 92, 92, 0.842)
}